.resize {
  font-Size:50;
}
.ExcelTable2007{
  color:'red';
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #9c0343 ;
  border-color: #9c0343 ;
  color: #fff;
  border-radius:20px;
}
.pagination > li > a{
  
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius:20px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #2264b9 ;
  border-color: #2264b9;
  border-radius:20px;

  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #2264b9
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: 20px;
}
.excel{
  background-color:rgb(13, 124, 10);
  color:white;
  height: 50px;
  padding:5px 5px;
  border-radius: 3px;
  border:none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  height:25px;
}
table {
 
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}



table th,
table td {
  padding: .625em;
  text-align: left;
}



@media screen and (max-width: 900px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 13px;
    text-align: left;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}